@use "../abstracts/colors" as colors;

@mixin button-states() {
	transition: all 0.15s ease;
	&:hover {
		transform: scale(1.2);
	}
	&:active {
		transform: scale(0.9);
	}
}

.button {
	display: inline-block;
	//
	margin: 1rem;
	//

	font-size: 1.5rem;
	color: colors.$light;

	padding: 0.5em 1em;

	cursor: pointer;

	&--primary {
		background-color: colors.$gold;
	}
	&--secondary {
		background-color: transparent;
	}

	@include button-states();

	box-shadow: 2px 2px 20px 2px rgba($color: colors.$dark--1, $alpha: 0.5);
}

.icon-button {
	$size: 3.65rem;
	width: $size;
	height: $size;

	border-radius: 50%;

	font-size: $size * 0.5;
	padding: 0;
}
