@use "../abstracts/colors" as colors;
@use "../abstracts/mixins" as mixins;

.button {
	display: inline-block;
	//
	margin: 1rem;
	//

	font-size: 1.5rem;
	color: colors.$light;
	background-color: colors.$gold;

	padding: 0.5em 1em;

	&--primary {
		color: colors.$dark--2;
	}
	&--secondary {
		background-color: transparent;
		border: 1px solid colors.$light;
	}

	@include mixins.action-component-states();

	box-shadow: 2px 2px 20px 2px rgba($color: colors.$dark--1, $alpha: 0.5);
}

.icon-button {
	$size: 3.65rem;
	width: $size;
	height: $size;

	border-radius: 50%;

	font-size: $size * 0.5;
	padding: 0;
}
