@use "../abstracts/colors" as colors;
@use "../utils/media-query" as media-query;
.section-thumbnail {
	$size: 12vmax;
	width: $size;
	height: $size;

	position: relative;
	background-color: colors.$dark--2;
	display: inline-block;

	img {
		width: 100%;
		height: 100%;
		transform: scale(0.9);
		transition: all 0.15s ease-in-out;
	}

	span {
		text-align: center;
		display: inline-block;
		width: 100%;
		padding: 0.5rem 0;
		font-size: 1.15rem;
		transition: transform 0.15s ease-in-out;
	}

	&:hover,
	&:focus {
		img {
			transform: scale(0.95);
		}
		span {
			transform: scale(1.05);
		}
	}

	@include media-query.mobile {
		& > span {
			position: absolute;
			padding: 0.2em;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba($color: colors.$dark--1, $alpha: 0.5);
			font-size: 1em;
		}
	}
}
