@use "../abstracts/colors" as colors;
@use "../utils/media-query" as media-query;

html {
	background-color: colors.$dark--1;
}

html,
:root,
body,
#bg {
	height: 100svh;
	overflow: hidden;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}

#bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: url("/bg.jpg");

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&::after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: darken(colors.$dark--1, 5%);
		opacity: 0.75;
	}
}

.section {
	display: block;
	position: relative;
	height: 100svh;
	padding: 2rem 4rem;

	display: flex;
	place-content: center;
	place-items: center;

	&__content {
		padding: 1rem;
		height: 90%;
		width: 100%;
	}

	@include media-query.mobile {
		padding: 2rem 0.5em;
		&__content {
			padding: 0rem 3.5rem;
		}
	}
}

.frame-decor {
	position: absolute;
	@include media-query.mobile {
		transform: scale(0.8);
	}
	//style
	&__bar {
		position: absolute;
		display: block;
		border: 1px solid colors.$gold;
		background-color: transparent;

		&--h {
			width: 7rem;
			height: 0.5rem;
		}
		&--v {
			width: 0.5rem;
			height: 4rem;
		}
	}
	//position
	&--top {
		top: 2rem;
		left: 2rem;
		.frame-decor__bar {
			&--h {
				&--1 {
					top: 1rem;
					left: 0;
					background-color: colors.$gold;
				}
				&--2 {
					top: 2rem;
					left: 0;
				}
			}

			&--v {
				&--1 {
					top: 0.25rem;
					left: 0.5rem;
					background-color: colors.$gold;
				}
				&--2 {
					top: 0.25rem;
					left: 1.5rem;
				}
			}
		}
	}
	&--bot {
		bottom: 2rem;
		right: 2rem;

		.frame-decor__bar {
			&--h {
				&--1 {
					bottom: 1rem;
					right: 0;
					background-color: colors.$gold;
				}
				&--2 {
					bottom: 2rem;
					right: 0;
				}
			}

			&--v {
				&--1 {
					bottom: 0.25rem;
					right: 0.5rem;
					background-color: colors.$gold;
				}
				&--2 {
					bottom: 0.25rem;
					right: 1.5rem;
				}
			}
		}
	}
}
