@use "../abstracts/colors" as colors;
//
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
//

html,
body {
	font-size: min(18px, 3vmax);
}

* {
	user-select: none;
}

body {
	color: colors.$light;
	font-family: Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: colors.$gold;
}
h2 {
	font-size: 2.35rem;
}
h3 {
	font-size: 1.75rem;
}

label,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

label {
	font-size: 1.2rem;
	text-transform: capitalize;

	color: colors.$light;
}

p,
li {
	text-align: justify;
}
