@use "../utils/media-query" as media-query;
.about {
	display: grid;

	grid-template-areas:
		"title title"
		"intro links"
		"img p2";

	place-content: center;

	gap: 2rem;

	h2 {
		grid-area: title;
	}

	.intro {
		grid-area: intro;
		padding-top: 2em;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	.lawyer {
		grid-area: img;
		place-self: center;
		max-width: 50%;
	}

	.links {
		place-self: center;

		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		place-items: center;
		img {
			width: 20vmax;
			max-height: 150px;
			&:nth-child(1) {
				transform: translateX(-30%);
			}
			&:nth-child(2) {
				transform: translateX(30%);
			}
			&:nth-child(3) {
				transform: translateX(-10%);
			}
		}
	}

	.note {
		place-self: center;
		width: 70%;
		margin-bottom: 4em;
	}

	@include media-query.mobile {
		grid-template-areas:
			"title"
			"intro"
			"links"
			"p2";

		.intro {
			padding-top: 0;
		}

		.lawyer {
			display: none;
		}

		place-content: start;
		place-items: start;

		overflow: auto;

		.note {
			width: 100%;
		}
	}
}
