@use "../abstracts/colors" as colors;
@use "../utils/media-query" as media-query;
.multas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	header {
		display: grid;
		grid-template-areas:
			"title buttons"
			"p img";

		grid-template-columns: 40% 60%;

		h2 {
			grid-area: title;
			width: fit-content;
		}
		.info {
			grid-area: p;
			// max-width: 50%;
			padding: 1rem;

			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		nav {
			grid-area: buttons;
			justify-self: end;

			display: flex;
			flex-wrap: wrap;
			place-content: center;
		}

		img {
			justify-self: center;
			grid-area: img;
			max-width: 100%;
			max-height: 300px;
		}
	}

	.search {
		width: 33%;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12vmax, 1fr));
		grid-template-rows: auto;
		grid-auto-flow: row;
		gap: 1em;
		padding: 1em;
		margin: 2em;
		width: 90%;
		height: calc(12vmax + 5.5em); //12vmax section thumbnail img height
		overflow-y: auto;

		& > * {
			margin-bottom: 4em;
		}
	}

	.coimas {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 1em;
		margin: 1em 0em;
		.coimas-card {
			background-color: colors.$dark--1;
			padding: 1em 2em;
			border-radius: 2px;

			ul {
				padding: 1em;
				display: flex;
				flex-direction: column;
				padding-left: 3em;
				gap: 0.25em;
				color: rgb(191, 47, 47);
			}
		}
	}

	@include media-query.mobile {
		align-items: center;
		padding: 2em;
		overflow-y: auto;
		header {
			grid-template-areas:
				"title"
				"buttons"
				"p"
				"img";
			grid-template-columns: 1fr;
			align-items: center;

			h2 {
				width: 100%;
				text-align: center;
			}
			nav {
				justify-self: center;
			}
		}
		.search {
			width: 100%;
		}
		.grid {
			height: auto;
			& > * {
				margin-bottom: 0;
			}
		}

		.coimas,
		.coimas-card {
			width: 100%;
		}
	}
}
