@use "../utils/media-query" as media-query;
.porque {
	display: grid;
	grid-template-areas:
		"title img"
		"p1 img"
		"p2 img"
		"multas multas";

	grid-template-columns: 40% 60%;
	grid-template-rows: min-content min-content min-content auto;

	h2 {
		grid-area: title;
	}
	p:nth-child(0) {
		grid-area: p1;
	}
	p:nth-child(1) {
		grid-area: p2;
	}
	img {
		grid-area: img;
		max-height: 35vh;
		max-width: 40vw;
		justify-self: center;
		place-self: center;
	}

	.multas-comuns {
		align-self: center;
		grid-area: multas;

		display: flex;
		justify-content: space-evenly;
		gap: 1em;

		& > * {
			transition: filter 0.5s ease, transform 0.25s ease-in-out;
		}

		&:has(.section-thumbnail:hover) .section-thumbnail:not(:hover),
		&:has(.section-thumbnail:focus) .section-thumbnail:not(:focus) {
			filter: blur(1px) grayscale(0.4);
			transform: scale(0.95);
		}
	}

	@include media-query.mobile {
		display: flex;
		flex-direction: column;
		gap: 1em;

		& > img {
			display: none;
		}

		.multas-comuns {
			flex-wrap: wrap;
		}
	}
}
